* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

abbr[title], acronym[title] {
  text-decoration: none;
}

.transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.App {
  width: 400px;
  height: 550px;
  margin: 30px auto 0 auto;
  border: 1px solid #cecece;
  overflow: hidden;
  position: relative;
}

.wrap {
  width: 800px;
  height: 550px;
  display: flex;
  position: relative;
}

.wrap.calendar {
  left: 0;
}

.wrap.events {
  left: -400px;
}
