.block-calendar {
    width: 400px;
    height: 100%;
}

.calendar-table {
    line-height: 1.2em;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    color: #545454;
}

.calendar-table td {
    vertical-align: middle;
    font-size: 12px;
    width: 30px;
    height: 30px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    border-spacing: 3px;
    border-collapse: separate;
}

.calendar-table.week td {
    width: 30px;
    height: 30px;
}

.calendar-table thead td,
.calendar-table.week thead td {
    height: 15px;
}

.calendar-table thead tr:nth-child(1) td {
    height: 20px;
}

.calendar-table tbody td {
    color: #545454;
}

.calendar-table tbody td.today {
    color: #fff;
    background: #0087ff;
    border-radius: 50%;
}

.calendar-arrow {
    text-align: center;
    font-size: 18px;
    color: #0087ff;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0;
}

.prev,
.next {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    color: #9e9a9a;
    cursor: pointer;
}

.next:hover,
.prev:hover {
    color: #0087ff;
}

.table-week-time {
    font-size: 12px;
    text-align: center;
    margin: 0 auto 0 auto;
    color: #545454;
    height: 320px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.table-week-time table,
.table-day-time table {
    margin-left: 15px;
}

.table-week-time td {
    vertical-align: middle;
    font-size: 12px;
    width: 40px;
    height: 30px;
    background: #fff;
    border: 1px solid #ecf2f5;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.table-week-time tr td:first-child,
.table-day-time tr td:first-child {
    background: transparent;
    border: none;
}

.table-day-time {
    font-size: 12px;
    text-align: center;
    margin: 0 auto 0 auto;
    color: #545454;
    height: 320px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.table-day-time tr td:nth-child(1) {
    vertical-align: middle;
    font-size: 12px;
    width: 40px;
    height: 30px;
}

.table-day-time tr td:nth-child(2) {
    vertical-align: middle;
    font-size: 12px;
    width: 292px;
    height: 30px;
    background: #fff;
    border: 1px solid #ecf2f5;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}