.navbar {
    width: 320px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    padding: 0 20px;
    -webkit-box-shadow: 8px 9px 10px -12px rgba(0,0,0,0.57);
    -moz-box-shadow: 8px 9px 10px -12px rgba(0,0,0,0.57);
    box-shadow: 8px 9px 10px -12px rgba(0,0,0,0.57);
    border: 1px solid rgba(206, 215, 215, 0.89);
}

.navbar > div {
    width: auto;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    color: #9e9a9a;
}

.navbar > div p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.navbar > div.active,
.navbar > div:hover {
    color: #0087ff;
}